<script id="customers-view" type="text/html">
<div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Customer name</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{title}}</p>
    </div>
  </div>
   {{#properties}}
     <div class="form-group">
    <label class="col-sm-2 control-label">Industry</label>
    <div id ="formField-nsi_industry" class="col-sm-10" ondblclick="switchEdit('nsi_industry','{{nsi:industry}}', 'vocabulary',{'directoryName':'industries'})">
      <p class="form-control-static" >{{nsi:industry}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Last modification date</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{dc:modified}}</p>
    </div>
  </div>

     <div class="form-group">
    <label class="col-sm-2 control-label">Customer Business</label>
    <div id ="formField-nsi_customer_business" class="col-sm-10" ondblclick="switchEdit('nsi_customer_business','{{nsi:customer_business}}' ,'textarea',{})">
      <p class="form-control-static">{{nsi:customer_business}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Sales rep</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:sales_rep}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Customer since</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:customer_since}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Deal history</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:sales_history}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Success factors</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:success_factors}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Competitors</label>
    <div id ="formField-nsi_competitors" class="col-sm-10" ondblclick="switchEdit('nsi_competitors', '{{nsi:competitors}}','vocabulary',{'directoryName':'competitions'})">
      <p class="form-control-static">{{nsi:competitors}} </p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Comment</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:competitors_comment}}</p>
    </div>
  </div>
   {{/properties}}
   </form>
   <div 
      class="dropzone dropzone-previews"
      id="droparea"> heine</div>
</div>

 


<div>
<button onclick="browseListOfCustomers()" type="button" class="btn btn-default">Back to the list of customers</button>
</div>
</script>

<script id="displayReadValue">
<p class="form-control-static" >{{.}}</p>
</script>
<script type="text/javascript">
  <input type="text" class="form-control" placeholder="Text input" value ="{{}}" onblur="switchRead(this,'nsi_industry','nsi:industry')"></input>
</script>

<script id="editField-nsi_industry">

<select class="form-control" onblur="switchRead(this,'nsi_industry','nsi:industry')">
<option value ="">{{fieldValue}}</option>
{{#vocabularyEntries}}
<option value="{{id}}">{{label}}</option>
{{/vocabularyEntries}}
</option>
</select>
</script>

<script id="editField-nsi_competitors">

<select class="form-control" onblur="switchRead(this,'nsi_competitors','nsi:competitors')">
<option value ="">{{fieldValue}}</option>
{{#vocabularyEntries}}
<option value="{{id}}">{{label}}</option>
{{/vocabularyEntries}}
</option>
</select>
</script>

<script id="editField-nsi_customer_business">
<textarea id = 'formField-nsi_customer_business' rows="4" class="form-control" placeholder="Text input"  onblur="switchRead(this,'nsi_customer_business','nsi:customer_business')">{{fieldValue}}</textarea>
</script>