<script id="customers-view" type="text/html">
<div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label  class="col-sm-2 control-label">Customer name</label>
    <div class="col-sm-10" id ="formField-dc_title"  ondblclick="switchToEdit('dc:title','{{dc:title}}')">
      <p class="form-control-static">{{title}}</p>
    </div>
  </div>
   {{#properties}}
     <div class="form-group">
    <label class="col-sm-2 control-label">Industry</label>
    <div id ="formField-nsi_industry" class="col-sm-10" ondblclick="switchToEdit('nsi:industry','{{nsi:industry}}')">
      <p class="form-control-static" >{{nsi:industry}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Last modification date</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{dc:modified}}</p>
    </div>
  </div>

     <div class="form-group">
    <label class="col-sm-2 control-label">Customer Business</label>
    <div id ="formField-nsi_customer_business" class="col-sm-10" ondblclick="alert('hein');switchToEdit('nsi:customer_business','{{nsi:customer_business}}')">
      <p class="form-control-static">{{nsi:customer_business}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Sales rep</label>
    <div class="col-sm-10" id="formField-nsi_sales_rep" ondblclick="switchToEdit('nsi:sales_rep','{{nsi:sales_rep}}')">
      <p class="form-control-static">{{nsi:sales_rep}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Deal history</label>
    <div class="col-sm-10" id="formField-nsi-sales_history" ondblckick="switchToEdit('nsi:sales_history','{{nsi:sales_history}}')">
      <p class="form-control-static">{{nsi:sales_history}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Customer since</label>
    <div class="col-sm-10" id="formfField-nsi_customer_since" ondblckick="switchToEdit('nsi:customer_since','{{nsi:customer_since}}')">
      <p class="form-control-static">{{nsi:customer_since}}</p>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">Success factors</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{nsi:success_factors}}</p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Competitors</label>
    <div id ="formField-nsi_competitors" class="col-sm-10" ondblclick="switchToEdit('nsi:competitors', '{{nsi:competitors}}')">
      <p class="form-control-static">{{nsi:competitors}} </p>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Comment</label>
    <div class="col-sm-10" id="formField-nsi_competitors_comment" ondblclick="switchToEdit('nsi:competitors_comment', '{{nsi:competitors_comment}}')" >
      <p class="form-control-static">{{nsi:competitors_comment}}</p>
    </div>
  </div>
   {{/properties}}
   </form>
 
</div>

  <img id="image" src=""/>
  <div style="width:300px">
   <div style="width:100px;background-color:yellow;float:left" >
   <div class="dropzone dropzone-previews"
      id="droparea-screenshot1"></div>
      </div>

      <div style="width:100px;background-color:yellow;float:right" >
   <div class="dropzone dropzone-previews"
      id="droparea-screenshot2"></div>
      </div>
      </div>

<div>
<button onclick="browseListOfCustomers()" type="button" class="btn btn-default">Back to the list of customers</button>
</div>
</script>

<script id="displayReadValue">
<p class="form-control-static" >{{.}}</p>
</script>
<script id="displayList">
<p class="form-control-static">
{{#.}}
<span>{{.}}</span>
{{/.}}
</p>
</script>

<script id="editField-dc_title">
  <input type="text" class="form-control" placeholder="Text input" value ="{{dc:title}}" onblur="switchRead(this,'dc_title','dc:title')"></input>
</script>

<script id="editField-nsi_industry">

<select class="form-control" onblur="switchRead(this,'nsi_industry','nsi:industry')">
<option value ="">{{fieldValue}}</option>
{{#vocabularyEntries}}
<option value="{{id}}">{{label}}</option>
{{/vocabularyEntries}}
</option>
</select>
</script>

<script id="editField-nsi_competitors">
<select multiple  class="form-control" onblur="switchRead(this,'nsi_competitors','nsi:competitors')">
<option value ="">{{fieldValue}}</option>
{{#vocabularyEntries}}
<option value="{{id}}">{{label}}</option>
{{/vocabularyEntries}}
</option>
</select>
</script>

<script id="editField-nsi_customer_business">
<textarea rows="4" class="form-control" placeholder="Text input"  onblur="switchRead(this,'nsi_customer_business','nsi:customer_business')">{{fieldValue}}</textarea>
</script>

<script id="editField-nsi_competitors_comment">
<textarea rows="4" class="form-control" placeholder="Text input"  onblur="switchRead(this,'nsi_competitors_comment','nsi:competitors_comment')">{{fieldValue}}</textarea>
</script>